@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
/* line 1, ../sass/grid.sass */
.section {
  clear: both;
}

/* line 3, ../sass/grid.sass */
.col {
  display: block;
  float: left;
}

/* line 6, ../sass/grid.sass */
.group:before,
.group:after {
  content: "";
  display: table;
}

/* line 10, ../sass/grid.sass */
.group:after {
  clear: both;
}

/* line 12, ../sass/grid.sass */
.group {
  width: 80%;
  margin: 0 auto;
  zoom: 1;
}

/* line 16, ../sass/grid.sass */
.span_3_of_3 {
  width: 100%;
}

/* line 18, ../sass/grid.sass */
.span_2_of_3 {
  width: 25%;
}

/* line 20, ../sass/grid.sass */
.span_1_of_3 {
  width: 33.33333%;
}

@media only screen and (max-width: 480px) {
  /* line 24, ../sass/grid.sass */
  .span_3_of_3,
  .span_2_of_3,
  .span_1_of_3 {
    width: 100%;
  }
}
/* line 1, ../sass/extend.sass */
.relativa {
  position: relative;
}

/* line 3, ../sass/extend.sass */
.absolute, .dashboard, .dashboard .case, .dashboard .case .item, .dashboard .case .item .info, .dashboard .temp .item .info {
  position: absolute;
}

/* line 5, ../sass/extend.sass */
.fixed, .bg, .bg .blank, .bg img, .dashboard .menu {
  position: fixed;
}

/* line 8, ../sass/extend.sass */
.full, .bg, .bg .blank, .bg img, .dashboard, .dashboard .case, .dashboard .temp .item {
  width: 100%;
  height: 100%;
}

/* line 12, ../sass/extend.sass */
.block, .dashboard .menu .filter .sub, .dashboard .case .item .info div, .dashboard .temp .item .info div {
  display: block;
}

/* line 14, ../sass/extend.sass */
.inline {
  display: inline;
}

/* line 16, ../sass/extend.sass */
.inline-block, li, .dashboard .case .item .info div span, .dashboard .temp .item .info div span {
  display: inline-block;
}

/* line 18, ../sass/extend.sass */
.hide, .dashboard .menu, .dashboard .menu .filter .sub .request, .dashboard .case .item .info, .dashboard .temp .item .info {
  display: none;
}

/* line 21, ../sass/extend.sass */
.text-center, .dashboard .menu ul {
  text-align: center;
}

/* line 23, ../sass/extend.sass */
.text-right, .dashboard .case .item .info, .dashboard .temp .item .info {
  text-align: right;
}

/* line 25, ../sass/extend.sass */
.text-left {
  text-align: left;
}

/* line 1, ../sass/default.sass */
body {
  font: 300 20px "Raleway", sans-serif;
}

/* line 3, ../sass/default.sass */
ul {
  padding: 0;
  margin: 0;
}

/* line 6, ../sass/default.sass */
li {
  list-style: none;
}

/* line 9, ../sass/default.sass */
select:focus {
  outline: 0;
  -webkit-outline: 0;
  -moz-outline: 0;
  -ms-outline: 0;
}

/* line 1, ../sass/style.sass */
.bg {
  top: 0;
  left: 0;
}
/* line 6, ../sass/style.sass */
.bg .blank {
  left: 0;
  top: 0;
  z-index: 10;
  background: white;
}
/* line 13, ../sass/style.sass */
.bg img {
  left: 0;
  top: 0;
  z-index: -10;
}

/* line 19, ../sass/style.sass */
.dashboard {
  top: 0;
  left: 0;
}
/* line 24, ../sass/style.sass */
.dashboard .menu {
  box-shadow: 0px 4px 0px #d9d9d9;
  -webkit-box-shadow: 0px 4px 0px #d9d9d9;
  -moz-box-shadow: 0px 4px 0px #d9d9d9;
  -ms-box-shadow: 0px 4px 0px #d9d9d9;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 50px;
  margin-top: -50px;
  background: white;
  z-index: 20;
}
/* line 36, ../sass/style.sass */
.dashboard .menu .filter .filter-request {
  overflow: hidden;
}
/* line 38, ../sass/style.sass */
.dashboard .menu .filter .filter-request select {
  appearance: button;
  -webkit-appearance: button;
  -moz-appearance: button;
  -ms-appearance: button;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: #b3b3b3;
}
/* line 45, ../sass/style.sass */
.dashboard .menu .filter .sub {
  height: 0;
  padding: 0;
  overflow: hidden;
}
/* line 52, ../sass/style.sass */
.dashboard .menu .filter .sub .request ul {
  padding-bottom: 15px;
}
/* line 56, ../sass/style.sass */
.dashboard .menu ul li {
  cursor: pointer;
  padding: 10px 5px;
}
/* line 59, ../sass/style.sass */
.dashboard .case {
  z-index: 10;
  top: 0;
  left: 0;
}
/* line 65, ../sass/style.sass */
.dashboard .case .item {
  box-shadow: 5px 2px 0px -1px #d9d9d9;
  -webkit-box-shadow: 5px 2px 0px -1px #d9d9d9;
  -moz-box-shadow: 5px 2px 0px -1px #d9d9d9;
  -ms-box-shadow: 5px 2px 0px -1px #d9d9d9;
  width: 320px;
  height: 320px;
  margin-left: -175px;
  margin-top: -175px;
  left: 50%;
  top: 50%;
  border: 15px solid white;
}
/* line 72, ../sass/style.sass */
.dashboard .case .item .info {
  color: white;
  bottom: 0;
  right: 0;
}
/* line 81, ../sass/style.sass */
.dashboard .case .item .info div span {
  background: #cc3333;
  padding: 3px;
}
/* line 85, ../sass/style.sass */
.dashboard .temp {
  z-index: 10;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 90px 0;
}
/* line 94, ../sass/style.sass */
.dashboard .temp .item img {
  width: 100%;
  height: auto;
  margin-bottom: -5px;
}
/* line 98, ../sass/style.sass */
.dashboard .temp .item .info {
  color: white;
  bottom: 0;
  right: 0;
}
/* line 107, ../sass/style.sass */
.dashboard .temp .item .info div span {
  background: #cc3333;
  padding: 3px;
}
