/* line 1, ../sass/extend.sass */
.relativa {
  position: relative;
}

/* line 3, ../sass/extend.sass */
.absolute {
  position: absolute;
}

/* line 5, ../sass/extend.sass */
.fixed {
  position: fixed;
}

/* line 8, ../sass/extend.sass */
.full {
  width: 100%;
  height: 100%;
}

/* line 12, ../sass/extend.sass */
.block {
  display: block;
}

/* line 14, ../sass/extend.sass */
.inline {
  display: inline;
}

/* line 16, ../sass/extend.sass */
.inline-block {
  display: inline-block;
}

/* line 18, ../sass/extend.sass */
.hide {
  display: none;
}

/* line 21, ../sass/extend.sass */
.text-center {
  text-align: center;
}

/* line 23, ../sass/extend.sass */
.text-right {
  text-align: right;
}

/* line 25, ../sass/extend.sass */
.text-left {
  text-align: left;
}
