/* line 1, ../sass/grid.sass */
.section {
  clear: both;
}

/* line 3, ../sass/grid.sass */
.col {
  display: block;
  float: left;
}

/* line 6, ../sass/grid.sass */
.group:before,
.group:after {
  content: "";
  display: table;
}

/* line 10, ../sass/grid.sass */
.group:after {
  clear: both;
}

/* line 12, ../sass/grid.sass */
.group {
  width: 80%;
  margin: 0 auto;
  zoom: 1;
}

/* line 16, ../sass/grid.sass */
.span_3_of_3 {
  width: 100%;
}

/* line 18, ../sass/grid.sass */
.span_2_of_3 {
  width: 25%;
}

/* line 20, ../sass/grid.sass */
.span_1_of_3 {
  width: 33.33333%;
}

@media only screen and (max-width: 480px) {
  /* line 24, ../sass/grid.sass */
  .span_3_of_3,
  .span_2_of_3,
  .span_1_of_3 {
    width: 100%;
  }
}
