.relativa
	position: relative
.absolute
	position: absolute
.fixed
	position: fixed

.full
	width:  100%
	height: 100%

.block
	display: block
.inline
	display: inline
.inline-block
	display: inline-block
.hide
	display: none

.text-center
	text-align: center
.text-right
	text-align: right
.text-left
	text-align: left