.section
	clear:   both
.col
	display: block
	float:   left
.group:before,
.group:after
	content: ""
	display: table
.group:after
	clear: both
.group
	width:  80%
	margin: 0 auto
	zoom:   1
.span_3_of_3
	width: 100%
.span_2_of_3
	width: (50% / 2)
.span_1_of_3
	width: (100% / 3)

@media only screen and (max-width: 480px)
	.span_3_of_3, 
	.span_2_of_3, 
	.span_1_of_3
		width: 100%