@mixin center($w, $h, $b, $position)
	width:        $w
	height:       $h
	margin-left: -($w+($b*2))/2
	margin-top:  -($h+($b*2))/2
	left:         50%
	top:          50%
	@if $position == absolute
		@extend .absolute
	@else if $position == fixed
		@extend .fixed
	@else
		@extend .relative
@mixin box-shadow($var)
	box-shadow:         $var
	-webkit-box-shadow: $var
	-moz-box-shadow:    $var
	-ms-box-shadow:     $var
@mixin appearance($var)
	appearance:         $var
	-webkit-appearance: $var
	-moz-appearance:    $var
	-ms-appearance:     $var
@mixin border-radius($var)
	border-radius:         $var
	-webkit-border-radius: $var
	-moz-border-radius:    $var
	-ms-border-radius:     $var
@mixin all($p, $v)
	#{$p}:         $v
	-webkit-#{$p}: $v
	-moz-#{$p}:    $v
	-ms-#{$p}:     $v