.bg
	@extend .fixed
	@extend .full
	top:    0
	left:   0
	.blank
		@extend     .fixed
		@extend     .full
		left:     0
		top:      0
		z-index:    $index-1
		background: $white-color-1
	img
		@extend   .fixed
		@extend   .full
		left:     0
		top:      0
		z-index:  $n-index-1
.dashboard
	@extend .absolute
	@extend .full
	top:    0
	left:   0
	.menu
		@include      box-shadow(0px 4px 0px $white-color-2)
		@extend       .fixed
		@extend       .hide
		top:          0
		left:         0
		width:        100%
		padding-top:  50px
		margin-top:  -50px
		background:   $white-color-1
		z-index:      $index-2
		.filter
			.filter-request
				overflow: hidden
				select
					@include        appearance(button)
					@include        border-radius(0)
					border:         none
					background:     none
					cursor:         pointer
					color:          $white-color-3
			.sub
				@extend   .block
				height:   0
				padding:  0
				overflow: hidden
				.request
					@extend         .hide
					ul
						padding-bottom: 15px
		ul
			@extend .text-center
			li
				cursor:  pointer
				padding: 10px 5px
	.case
		@extend     .absolute
		@extend     .full
		z-index:    $index-1
		top:        0
		left:       0
		.item
			$b:         15px
			$w:         320px
			$h:         320px
			@include    box-shadow(5px 2px 0px -1px $white-color-2)
			@include    center($w, $h, $b, absolute)
			border:     $b solid $white-color-1
			.info
				@extend .absolute
				@extend .hide
				@extend .text-right
				color:  $white-color-1
				bottom: 0
				right:  0
				div
					@extend .block
					span
						@extend     .inline-block
						background: $red-color-1
						padding:    3px
	.temp
		@extend     .relative
		z-index:    $index-1
		overflow:   hidden
		top:        0
		left:       0
		padding:    90px 0
		.item			
			@extend     .full
			img
				width:          100%
				height:         auto
				margin-bottom: -5px
			.info
				@extend .absolute
				@extend .hide
				@extend .text-right
				color:  $white-color-1
				bottom: 0
				right:  0
				div
					@extend .block
					span
						@extend     .inline-block
						background: $red-color-1
						padding:    3px
